.input
{
  position: absolute;
  background-color: orange;
  height: 30px;
  width: 100px;
  top:30px;
  left:500px;
}
.fibo
{
  position: absolute;
  background-color: yellow;
  height: 40px;
  width: 100px;
  top:70px;
  left:500px;
}
body
{
  height: 10000px;
  width: 10000px;
}



